# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folders
build/
bin/
obj/

# Backup & other system files
*~
.#*
.DS_Store
._*

# IDE specific files
# Uncomment the lines for the IDEs you are using

## Visual Studio Code
.vscode/

## Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

## Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.ntvs*
*.njsproj
*.sln
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
*.tlog
*.vspscc
*.vssscc
*.ilk
*.pdb
*.idb
*.svclog
*.opendb
*.VC.db

## Code::Blocks
*.layout
*.depend

## CLion
.idea/
*.iml

## Makefile builds
*.d

# Other files and folders
*.log
*.sql
*.sqlite

# If you're using CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.make
*.cmake
# Uncomment if you build in the source directory
# CMakeLists.txt.user

# Uncomment if you're using Conan for dependency management
# conan.lock
# conanbuildinfo.txt
# conanbuildinfo.cmake
# conaninfo.txt

# Add here any other file types or folders specific to your project
